<nav>
  <p class="nabvar">
    <mat-toolbar class="black-toolbar">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>

      <span><img src="./assets/images/logo-mkp-white.webp" alt="" /></span>
      <span class="example-spacer"></span>
      <input type="text" placeholder="¿Qué estas buscando?" />
      <ul class="social-list">
        <li>
          <a href="#"><mat-icon>notifications</mat-icon></a>
        </li>
        <li>
          <a href="#"> <mat-icon>menu</mat-icon></a>
        </li>
        <li>
          <a href="#"> <mat-icon>shopping_cart</mat-icon></a>
        </li>
        <li>
          <a href="#"> PEN </a>
        </li>
      </ul>
    </mat-toolbar>
  </p>
  <div class="menu">
    <div class="list">
      <ul>
        <li><a href="">MARCAS</a></li>
        <li><a href="">GAMER</a></li>
        <li><a href="">AUDIO</a></li>
        <li><a href="">TECLADO</a></li>
        <li><a href="">CAMARA WEB</a></li>
        <li><a href="">NUEVO INGRESO</a></li>
      </ul>
    </div>
  </div>
</nav>
<section class="container">
  <article class="information">
    <h4>
      <strong>
        Auriculares Gamer HyperX <br />Cloud StingerCore 40mm
        <br />3.5mm</strong
      >
    </h4>
    <div class="money">
      <span>S/. 319.99</span><br />
      <span>*No incluye envio</span> <br /><span>*No incluye IGV</span>
    </div>
    <span>S/. 379.99</span>
    <div>
      <button type="button"></button>
      <button type="button"></button>
    </div>
    <div class="technical">
      <span>logo Hiper</span>
      <p><strong>Descripción </strong></p>
      <span>Altavoces</span><br /><span>Diámetro de altavoz 60mm</span><br />
      <span>Iman: Neodimio</span><br /><span>Estructura: Cerrada</span><br />
      <span>Respuesta en frecuencia: 5 Hz a 35 kHz</span><br />
      <span>Impedancia nominal: 40 ohmios ± 6 ohmios</span><br />
      <span>Sencibilidad(SPL): 98 dB ± 3 dB a 1 kHz</span><br />
      <span>THD < 1% a 1kHz</span><br />
      <span>Potencia de alimentación: 15 a 150 mW</span><br />
      <span>Aislamiento aústico pasivo: 24 Db</span><br /><br />
      <span>Micrófono</span><br /><span>Diámetro de capsula: 6 mm</span><br />
      <span>Transductor: Condensador de electreto</span><br />
      <span>Patrón polar: Super cardiode</span><br />
      <span>Respuesta de frecuencia: 40 Hz a 25 kHz</span><br />
      <span>Impedancia niminal: < = 2.0 k ohmios </span><br />
      <span>Sensibilidad(SPL): -48 dB ± 3 dB a 1 kHz</span><br />
      <span>THD < 1% a 1kHz</span><br />
      <span>Sistema: Gradiente biométrico.</span><br />
      <span>Máximo nivel de presión sonora. 105 dB</span>
    </div>
  </article>
  <article class="article">
    <div class="access">
      <div>
        <img src="./assets/images/hprx1.png" alt="" class="auriculares" />
      </div>

      <div class="fhoto">
        <div><img src="./assets/images/hprx1.png" alt="" /></div>
        <div><img src="./assets/images/hprx2.png" alt="" /></div>
        <div><img src="./assets/images/hprx3.png" alt="" /></div>
        <div><img src="./assets/images/hprx3.png" alt="" /></div>
      </div>
    </div>
    <div class="card">
      <div><img src="./assets/images/ms.png" alt="" /></div>
      <div><img src="./assets/images/ms.png" alt="" /></div>
      <div><img src="./assets/images/ms.png" alt="" /></div>
    </div>
  </article>
</section>
